#home{
    background-image: url("/images/my\ logo.jpeg");
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.natasha{
    width: 50%;
    float: right
  }
  nav{
      float: right;
  }

  nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 30px;
    padding: 3px;
    position: relative;
    margin-right: 50px; 
}
nav a{
    text-transform: uppercase;
    font-size: 10px;
    color: bisque;
    text-decoration: none;
}
body{
    background-color: #dddddd;
}
